
.full-width {
    width: 100%;
}
.small-label {
    margin-bottom: 0;
    font-size: .9rem;
    text-decoration: underline;
}

.balance-md {
    font-size: 2rem;
    text-align: center;
}

.balance-lg {
    font-size: 2.6rem;
    text-align: center;
}

.category-list-group-item, .subcategory-list-group-item {
    padding:.5rem;
}
.subcategory-list-group-item {
    margin-left: 2rem;
}
    .category-name {
        font-size: 1.5rem;
    }
.subcategory-name {
    font-size: 1.2rem;
}
.category-desc, .subcategory-desc {
    padding-left:1rem;
    font-size: .8rem;
    color: #aaaaaa
}

.bigdrop {
    width: 450px !important;
}
.select2-dropdown {
    z-index: 9001;
}



.text-med {
    font-size: 15px !important;
}