.small-label {
    margin-bottom: 0;
    font-size: .9rem;
    text-decoration: underline;
}

.balance-md {
    font-size: 2rem;
    text-align: center;
}

.balance-lg {
    font-size: 2.6rem;
    text-align: center;
}

.category-name {
    font-size: 1.5rem;
}
.subcategory-name {
    font-size: 1.2rem;
}
.category-desc, .subcategory-desc {
    padding-left:3rem;
    font-size: .8rem;
    color: #777
}


.full-width {
    width:100%;
}