@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity

@model BankAccount
<button type="button" id="delAccount@(Model.Id)_btn" class="btn btn-sm btn-outline-danger btn-popover"><i class="fas fa-times"></i></button>
<div id="delAccount@(Model.Id)_form" style="display:none">
    @using( Html.BeginForm("Delete", "BankAccounts", FormMethod.Post) ) {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id", Model.Id)
        
        <div class="row row-cols-1">
            <div class="col pb-2 mb-2 border-bottom">
                <p>All transactions within this account will be permanently deleted!</p>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-danger">Delete Account</button>
            </div>
        </div>
    }
</div>


<script>
    $('#delAccount@(Model.Id)_btn').popover({
        placement: 'bottom',
        title: 'Delete @Model.AccountName?',
        html: true,
        sanitize: false,
        content: $('#delAccount@(Model.Id)_form').html()
    });

</script>