@model FinancialTracker_Web.Models.BankAccount

<div class="card">
    <div class="card-header bg-gradient-h-purple">Transactions</div>
    <div class="card-body">
        <table class="data-table table-striped table-bordered">

        </table>
    </div>
</div>