@using FinancialTracker_Web.Models
@{
    var db = new AppDbContext();
}
<button type="button" id="createAccount_btn" class="btn btn-lg btn-block btn-outline-primary">Create a New Household</button>
<div id="createAccount_form" style="display:none">
    @using( Html.BeginForm("Create", "BankAccounts", FormMethod.Post) ) {
        @Html.AntiForgeryToken()
        <div class="row row-cols-1">
            <div class="col">
                <label for="name">Account Name:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <input type="text" id="name" name="AccountName" placeholder="Type a name..." class="full-width" />
            </div>
            <div class="col">
                <label for="startbal">Starting Balance:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" id="startbal" name="StartingBalance">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-success">Create Household</button>
            </div>
        </div>
    }
</div>


<script>
    $('#createAccount').popover({
        placement: 'bottom',
        title: 'New Bank Account:',
        html: true,
        sanitize: false,
        content: $('#createAccount_form').html()
    })
</script>