@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity

@model Household
@{
    var id = Model.Id;
}
@if( Request.RawUrl != "/" ) {
    <button id="delHousehold@(id)_btn" type="button" class="btn btn-sm btn-outline-danger btn-popover">Delete Household</button>
} else {
    <button id="delHousehold@(id)_btn" type="button" class="btn btn-block btn-danger btn-popover">Delete Household</button>
}
<div id="delHousehold@(id)_form" style="display:none">
    @using( Html.BeginForm("Delete", "Households", FormMethod.Post) ) {
        @Html.AntiForgeryToken()
        <input name="Id" type="hidden" value="@id">

        <div class="row row-cols-1">
            <div class="col pb-2 mb-2 border-bottom">
                <p><u><b>Everything</b></u> within this household will be permanently deleted!</p>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-danger">Delete Account</button>
            </div>
        </div>
    }
</div>


<script>
    $('#delHousehold@(id)_btn').popover({
        placement: 'left',
        title: 'Delete @Model.Name?',
        html: true,
        sanitize: false,
        content: $('#delHousehold@(id)_form').html()
    });

</script>